<!--preview.html-->
<div attr="data.main.attributes" ko-style="data.main.style" class="pagebuilder-content-type pagebuilder-example-quote type-nested" css="data.main.css" event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <render args="getOptions().template"></render>
    <scope args="getUploader().getUiComponent()">
        <render></render>
    </scope>
    <div
        class="pagebuilder-toolbar-container"
        tabindex="0"
        event="{ focusin: toolbar.onFocusIn, focusout: toolbar.onFocusOut }">
        <with args="toolbar">
            <render args="template"></render>
        </with>
        <div class="quote" attr="data.quote.attributes" css="data.quote.css" data-bind="liveEdit: { field: 'quote', placeholder: $t('Enter Quote') }"></blockquote>
    </div>
    <div class="quote-author" attr="data.author.attributes" ko-style="data.author.style" css="data.author.css" data-bind="liveEdit: { field: 'author', placeholder: $t('Enter Author') }"></div>
    <div class="quote-description">
        <div if="isWysiwygSupported()" class="inline-wysiwyg" css="data.description.css" attr="data.description.attributes" afterRender="initWysiwyg" event="mousedown: stopEvent">
            <div html="data.description.html"></div>
        </div>
        <div if="isWysiwygSupported()" class="placeholder-text" ifnot="data.description.html" translate="'Edit Description'"></div>
        <textarea ifnot="isWysiwygSupported()" class="inline-wysiwyg-textarea" afterRender="initTextarea" event="{keyup: onTextareaKeyUp, focus: onTextareaFocus, blur: onTextareaBlur, mousedown: stopEvent}" attr="placeholder: $t('Edit Description')"></textarea>
    </div>
</div>
